<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Hi DickHead</title>
    <link th:href="@{/styles/grid.css}" rel="stylesheet" />
</head>
<body>

<!--<form th:method="GET" th:action="@{/gaga}" th:object="${words}">-->
    <div class="wrapper">
        <!--<div class="box1"><h3 th:text="${word.getWord()}"></h3></div>
        -->
        <div class="box2"><h3 th:text="${word.getWord()}"></h3></div>
        <div class="box3" ><h3 th:text="${word.getWord()}"></h3></div>
        <div class="box4"><h3 th:text="${word.getWord()}"></h3></div>
        <div class="box5"><h3 th:text="${word.getWord()}"></h3></div>

    </div>
<!--</form>-->

</body>
</html>